<h2>About us</h2>

<p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi voluptatibus amet quibusdam aliquid libero facilis quas omnis assumenda nemo numquam iusto et aspernatur doloremque voluptatem rem aliquam, hic nesciunt eaque?
</p>

<%= link_to 'Go home', root_path %>
